<div class="fixed inset-0 bg-slate-700 bg-opacity-50 flex justify-center items-center z-50">
  <div [ngClass]="['bg-white', 'rounded-lg', 'shadow-lg', width, 'w-full', 'max-h-full', 'overflow-y-auto']">
    <div class="p-4 border-b flex items-center justify-between">
      <h3 class="text-lg font-rubik text-slate-700 font-bold">{{ title }}</h3>
      <button (click)="closeModal()" class="text-gray-600 hover:text-gray-900">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
    <div class="p-4">
      <ng-content></ng-content>
    </div>
  </div>
</div>
