<div class="container flex flex-col sm:flex-row">
    <!-- Left Section: Payment -->
    <div class="w-full sm:w-1/2 p-4 border-b sm:border-r">
      <h2 class="text-xl font-semibold mb-4">Método de Pago</h2>
      <form>
        <div class="mb-4">
          <label for="paymentMethod" class="block text-sm font-medium text-gray-700">
            Método de Pago:
          </label>
        </div>
        <div class="flex justify-end mt-4">
            <button (click)="openModal()" class="bg-blue-500 text-white px-4 py-2 rounded">
              Pagar
            </button>
          </div>
          @if (isModalOpen) {
            <app-modal (close)="closeModal()" title="Pago">
                <app-payment-header></app-payment-header>
                <app-payment-form-component [totalAmount]="totalAmount"></app-payment-form-component>
                <button class="bg-red-500 hover:bg-red-700 text-white rounded-lg py-3 px-4 mt-4">Cerrar </button>
            </app-modal>
          }
      </form>
    </div>
  
    <!-- Right Section: Cart Details -->
    <div class="w-full sm:w-1/2 p-4">
      <h2 class="text-xl font-semibold mb-4">Detalles del Carrito</h2>
      <ul>
        <li *ngFor="let item of cartItems; trackBy: trackByIndex" class="mb-4">
          <div class="flex justify-between items-center">
            <span>{{ item.name }}</span>
            <img [src]="item.image" alt="" class="w-10" />
            <span>{{ item.price | currency }}</span>
            <span>{{ item.price | currency}}</span>
            <button (click)="removeItem(item)" class="text-red-500">Eliminar</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <app-payment-modal [totalAmount]="totalAmount" #paymentModal></app-payment-modal>
